%table.table
  %thead
    %tr
      %th Comment
      %th Date
      %th
  %tbody
    = render notes

%br

- if can? :create, @parent.notes.build
  = link_to 'New Note', new_employee_note_path(@parent), class: 'btn btn-default'
