%h1 Listing Notes
= render 'shared/search/search', resourse_url: employee_notes_path(@parent), filters: [:created_at, :updated_at, :date]

%br

- if can? :create, @parent.notes.build
  = link_to 'New Note', new_employee_note_path(@parent), class: 'btn btn-default'
