%p
  %strong Comment:
  = @note.comment
%p
  %strong Date:
  = @note.date.strftime('%e %b %Y') if @note.date.present?

- if can? :edit, @note
  = link_to 'Edit', edit_employee_note_path(@parent, @note)
- if can? :index, @parent.notes.build
  |
  = link_to 'Back', employee_notes_path(@parent)
