<li>
  <%= link_to employee.substantive_rank, employee %>
  <%= link_to employee.first_name, employee %>
  <%= link_to employee.last_name, employee %>
  <% if current_employee.admin? && !current_employee?(employee) %>
    | <%= link_to "delete", employee, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>