%h1 Listing Medical Records
= render 'shared/search/search', resourse_url: employee_medical_records_path(@parent), filters: [:created_at, :updated_at, :blood_group]

%br
- if can? :create, @parent.medical_records.build
  = link_to 'New Medical record', new_employee_medical_record_path(@parent), class: 'btn btn-default'

