%h1 Listing Medical Records
%table.table
  %thead
    %tr
      %th Employee
      %th
  %tbody
    = render @medical_records

%br

- if can? :create, @parent.medical_records.build
  = link_to 'New Medical record', new_employee_medical_record_path(@parent)
