%h1 Listing Qualifications
= render 'shared/search/search', resourse_url: employee_qualifications_path(@parent), filters: [:created_at, :updated_at, :end_date, :grade, :status, :school, :type]

%br
- if can? :create, @parent.qualifications.build
  = link_to 'New Qualification', new_employee_qualification_path(@parent), class: 'btn btn-default'
