%h1 Editing Responsibility
= render 'form'
- if can? :read, @responsibility
  = link_to 'Show', [@parent, @responsibility]
- if can? :index, @parent.responsibilities.build
  |
  = link_to 'Back', employee_responsibilities_path(@parent)
