%h1 Listing Suggestions
= render 'shared/search/search', resourse_url: employee_suggestions_path(@parent), filters: [:created_at, :updated_at]
%br
- if can? :create, @parent.suggestions.build
  = link_to 'New Suggestion', new_employee_suggestion_path(@parent), class: 'btn btn-default'
