= semantic_form_for [@parent, @promotion_date] do |f|
  .field
    = f.input :substantive_rank, as: :select, collection: PromotionDate::RANKS
  .field
    = f.input :date, as: :date_picker
  .actions
    = f.submit
