%h1 Listing Promotion Dates
= render 'shared/search/search', resourse_url: employee_promotion_dates_path(@parent), filters: [:created_at, :updated_at, :date, :substantive_rank], columns: ['employee', 'substantive_rank', 'date', 'rank_point']

%br
- if can? :create, @parent.promotion_dates.build
  = link_to 'New Promotion Date', new_employee_promotion_date_path(@parent), class: 'btn btn-default'

